/Paper/Useful_papers/
/Paper/*/lensing_RAR_paper_Brouwer.aux
/Paper/*/lensing_RAR_paper_Brouwer.bbl
/Paper/*/lensing_RAR_paper_Brouwer.blg
/Paper/*/lensing_RAR_paper_Brouwer.log
/Paper/*/lensing_RAR_paper_Brouwer.out
/Paper/*/lensing_RAR_paper_Brouwer.pdf
