### General settings ###

# Source and lens catalogues
KiDS_path           /data2/brouwer/KidsCatalogues/LF_cat_DR3             # Path to folder that contains the KiDS catalogs (optional - supersedes KiDS_version).
KiDS_version        3

#GAMA_path           /data2/brouwer/MergedCatalogues/GAMACatalogue_2.0.fits  # Path the GAMA catalog (optional - supersedes GAMA_version).
 lens_catalog        /data/users/brouwer/LensCatalogues/KV450_Lephare_Masked_trim_ZBlt0p6.fits            # Path to the fits file with your custom lens catalogue (supersedes GAMA catalog),
 lens_columns        ID,RA,DEC,Z                                           #     containing columns for: 'ID', 'RA', 'DEC', optional: 'Z' (if Runit = *pc), used lens paramaters.

# cosmology
Om                  0.315                                       # Omega matter.
Ol                  0.685                                       # Omega Lambda.
Ok                  0                                           # Omega curvature. (Not yet working, please use: 0)
h                   0.7                                         # Reduced Hubble constant. (h = H0/(100 km/s/Mpc))


### ESD Production ###

# Algorithm
ESD_output_folder      /data2/brouwer/shearprofile/Lensing_results/EG_results_Oct18            # Path to ESD output folder.
#ESD_output_filename   EG_pipeline                             # This flag will be appended to the filenames (optional).
#ESD_output_filename   oldcatmatch                             # This flag will be appended to the filenames (optional).
ESD_purpose            shearcatalog                  # One of {'shearcatalog', 'shearcovariance', 'shearbootstrap',
# ESD_purpose          randomcatalog                    #     'randomcatalog', 'randombootstrap'}.
#Rbins                 1                                # One of the standard options (1-5, see help file), (Not yet working) or
#Rbins                 Rbins.txt                        #     either a file with the radial binning or a
 Rbins                 20,30,3000                       #     comma-separated list with (Rmin,Rmax,Nbins).
#Rbins                 20,1e-15,5e-12
 Runit                 kpc                              # One of these physical {pc, kpc, Mpc} or sky {arcsec, arcmin, deg} coordinates.
#Runit                 mps2
ncores                 3                                # Any number of cores your machine can use to run the code.


# Lens selection

lensID_file         None                                                                                 # Path to text file with chosen lens IDs (optional).

 lens_weights        None
#lens_weights        logmbar       /data2/brouwer/shearprofile/EG_project/baryonic_mass_catalog.fits       # Weight name and path to fits file with lens weights (optional). (Not yet working)
#lens_weights       logmstar         self

 lens_binning       None
#lens_binning       logmstar       self               8.5,10.5,10.8,10.9,11.0   # EV paper
#lens_binning       logmstar       self               8.5,10.3,10.6,10.8,11.0   # Equal S/N (log(M)<11)
#lens_binning       logmstar       self               8.5,10.5,10.8,11.1,12.0   # Equal S/N
 
 lens_limits1       Z_B            self              0,0.5
#lens_limits2       RankBCG        self              -999,2
#lens_limits3       isocen3        /data2/brouwer/shearprofile/KiDS-GAMA/brouwer/mdm_project/gama_isolated_galaxies_h70.fits           1
#lens_limits1       logmstar       self                                                     8.5,11.1


# Source selection
src_limits1           Z_B        0.1,0.9             # Source parameter for limits and one value, or
# src_limits2                                          #     two comma separated limits between -inf and inf.

kids_blinds           A


